@forward 'base';
@forward 'utils';

@use './base' as b;
@use './utils/' as u;

body {
  background-color: b.$bg-primary;
  font-family: 'Karla', sans-serif;
  font-size: u.rem(16);
  color: b.$clr-primary;

  // Styling the main tag
  main {
    margin: u.rem(76) auto;
    width: u.rem(311);

    @include u.breakpoint(large) {
      margin: u.rem(163) auto;
      width: u.rem(634);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    // content section
    .content-container {
      background-color: b.$bg-secondary;
      padding: u.rem(24);
      color: b.$clr-tertiary;
      border-top-left-radius: u.rem(4);
      border-top-right-radius: u.rem(4);

      @include u.breakpoint(large) {
        grid-column: 1 / 3;
      }

      h1 {
        font-size: u.rem(20);
        font-weight: 700;
        letter-spacing: -1%;
        color: b.$clr-secondary;
        margin-bottom: u.rem(28);
      }

      .subtitle {
        letter-spacing: -1.9%;
        font-weight: 700;
        line-height: 125%;
        color: b.$clr-accent;
        margin-bottom: u.rem(25);
      }

      p {
        font-size: u.rem(14);
        letter-spacing: -1%;
        line-height: 185%;
      }
    }

    .price-container {
      background-color: b.$bg-tertiary;
      padding: u.rem(24);

      @include u.breakpoint(large) {
        border-bottom-left-radius: u.rem(4);
      }

      h2 {
        font-size: u.rem(18);
        font-weight: 700;
        letter-spacing: -1%;
        margin-bottom: u.rem(22);
      }

      .price {
        display: flex;
        align-items: center;
        gap: u.rem(11);
        margin-bottom: u.rem(15);

        h2 {
          font-size: u.rem(32);
          font-weight: 700;
          letter-spacing: -1%;
          margin: 0;
        }

        p {
          font-size: u.rem(16);
          letter-spacing: -1%;
          opacity: 0.5;
        }
      }

      .full-access {
        margin-bottom: u.rem(33);
      }

      button {
        width: u.rem(263);
        height: u.rem(48);
        background-color: b.$btn-primary;
        box-shadow: 0 0 u.rem(8) u.rem(2) hsla(0, 0%, 40%, 0.25);
        letter-spacing: -1%;
        border: none;
        border-radius: u.rem(4);
        color: b.$clr-primary;
      }
    }

    .why-us-container {
      background-color: b.$bg-light;
      padding: u.rem(24);
      border-bottom-left-radius: u.rem(4);
      border-bottom-right-radius: u.rem(4);

      @include u.breakpoint(large) {
        border-bottom-left-radius: 0;
      }

      h2 {
        font-size: u.rem(18);
        font-weight: 700;
        letter-spacing: -1%;
        margin-bottom: u.rem(22);
      }

      ul {
        li {
          font-size: u.rem(14);
          margin-bottom: u.rem(8);
          list-style: none;
        }
      }
    }
  }
}